@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #cce2e2;
}

.techman {
  width: 270px;
  height: 70px;
}

.senha-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeedeb;
  width: 25%;
  height: 50%;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.13);
  position: relative;
}

.senha-display {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 250px;
  height: 60px;
  border-bottom: 2px solid #35797d;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.senha {
  border: none;
  text-align: center;
  height: 50%;
  width: 100%;
  font-size: 20pt;
  color: #35797d;
} 

.numeros-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.numero {
  width: 60px;
  height: 60px;
  border: 1px solid #44babc;
  border-radius: 50%;
  color: #35797d;
  font-size: 20px;
  cursor: pointer;
}

.numero:hover {
  background-color: #44babc;
  color: #ffffff;
}

.fota {
  width: 25px;
  height: 25px;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #44babc;
  cursor: pointer;
  border-radius: 50%;
}

.delete:hover {
  background-color: #44babc;
  color: #ffffff;
}

.alert {
  position: absolute;
  top: 20px;
  height: 50px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  border: 2px solid red;
  color: #000;
  letter-spacing: 2px;
  background-color: rgba(255, 0, 0, 0.26);
}

.model {
  display: none;
  visibility: hidden;
}